{% extends 'base.html.twig' %}

{% block title %}Login Form{% endblock %}

{% block body %}

    <p>this is dummy authentication login form. any username will login successfully</p>

    {{ form(loginForm) }}

{% endblock %}
